[mysqld]
user=mysql
bind-address=0.0.0.0

# InnoDB settings
innodb_buffer_pool_size=1G

# Group replication settings
log-bin=mysql-bin
binlog-format=ROW
enforce-gtid-consistency=ON
gtid-mode=ON
group-replication-group-name="vadata"
group-replication-start-on-boot=OFF
group-replication-group-seeds="db01.internal.vadata.vn:33061"
group-replication-bootstrap-group=OFF
group-replication-single-primary-mode=ON
group-replication-enforce-update-everywhere-checks=OFF
